<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
</system.web>
    <system.webServer>
     <httpErrors errorMode="Detailed" />
        <handlers>
            <add name="FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\8.3\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
         <rewrite>
    <rules>
        <rule name="Symfony" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
    </rules>
</rewrite>
    </system.webServer>
   
</configuration>
