{% extends '/backend.html.twig' %}
{% block content %}
    <h1>Tipos de tarea</h1>
    <div class="row">
        <div class="col-md-12">
            <JobTypes :job-types="$root.jobTypes"></JobTypes>
        </div>
    </div>

{% endblock %}

